// BUTTON STYLES
// ===================================================

.btn {
    cursor: pointer;
    display: table;
    position: relative;
    color: white;
    font: 700 20px/1 $font-sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: $blue;
    border: none;
    outline: none;
    padding: 12px 24px 12px 12px;
    transition: background 0.2s;
    margin: 0 auto;
    
    @include bp($bp-col8) {
        font-size: 29px;
        padding: 12px 36px 12px 24px;
    }

    @include bp($bp-col16) {
        font-size: 34px;
        padding: 10px 37px;
    }

    &:after {
        content: '»';
        position: relative;
        left: 10px;
        transition: left 0.2s;
    }

    &:hover {
        background: lighten($blue, 10%);
        &:after {
            left: 20px;
        }
    }
}

// Color Variants
.btn-gold {
    background: $gold;

    &:hover {
        background: $gold-light;
    }
}