// PRIMARY BREAKPOINTS
// ====================================================================

$bp-col4: 0;
$bp-col8: 640px;
$bp-col12: 960px;
$bp-col16: 1280px;

// COLOR PALETTE
// ====================================================================

$black: #373737;
