// PRIMARY BREAKPOINTS
// ====================================================================

$bp-col4: 0;
$bp-col8: 640px;
$bp-col12: 960px;
$bp-col16: 1280px;

// COLOR PALETTE
// ====================================================================

$grey: #828282;
$grey-dark: #474747;
$black: #474747;

$gold: #b28c46;
$gold-light: lighten($gold, 10%);
$blue: #38616f;
$blue-light: #88b2bd;
$blue-lighter: #e0efef;
$red: #da434c;